server/config/settings.py
server/assets


server/config/__pycache__
server/core/__pycache__
server/gui/__pycache__
server/models/__pycache__
server/utils/__pycache__
server/gui/tabs/__pycache__
server/security/__pycache__

server/logs

temp
upscaled
frames
output
server.log
work
input
logs
batches

client/windows/core/__pycache__
client/windows/security/__pycache__